<section class="share">
    <a class="facebook-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share '{{ .Title }}' on Facebook">
        <svg class="icon" width="24" height="24"><use xlink:href="#facebook"></use></svg>
        <span class="btn">Facebook</span>
    </a>
    <a class="twitter-share" target="_blank" href="https://twitter.com/home?status=Check%20out%20this%20article:%20{{ .Title | htmlEscape }}%20-%20{{ .Permalink }}" title="Share '{{ .Title }}' on Twitter">
        <svg class="icon" width="24" height="24"><use xlink:href="#twitter"></use></svg>
        <span class="btn">Twitter</span>
    </a>
    <a class="google-share" target="_blank" href="https://plus.google.com/share?url={{ .Permalink }}" title="Share '{{ .Title }}' on Google+">
        <svg class="icon" width="24" height="24"><use xlink:href="#google"></use></svg>
        <span class="btn">Google+</span>
    </a>
    <a class="email-share" target="" href="mailto:?subject=Check%20out%20'{{ .Title | htmlEscape }}'&body=" title="Email '{{ .Title }}'">
            <svg class="icon" width="24" height="24"><use xlink:href="#envelope"></use></svg>
        <span class="btn">Email</span>
    </a>
</section>
