<link rel='dns-prefetch' href='https://fonts.googleapis.com'>
<link rel="icon" href="{{ .Site.Params.assets.favicon | default "favicon.ico" | absURL }}">
<link rel="canonical" href="{{ .Permalink }}">

{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml">
{{ end }}

{{ $css := resources.Get "scss/main.scss" | toCSS | postCSS | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">