<link rel='dns-prefetch' href='https://fonts.googleapis.com'>
<link rel="icon" href="{{ .Site.Params.assets.favicon | default "favicon.ico" | absURL }}">
<link rel="canonical" href="{{ .Permalink }}">

{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml">
{{ end }}

{{ $stylesheet := resources.Get "main.css"  }}
{{ $stylesheet = $stylesheet | fingerprint }}
{{ with $stylesheet }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|PT+Serif:400,400i,700|Roboto+Condensed:400,700">
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{end}}