{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
{{ with $related }}
<section class="related-content group">
    <h1 class="group-title">Related Content</h1>
    {{ range . }}
    <section class='teaser'>
        <time class="published" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format $dateFormat }}</time>
        <h2 class='title'><a href="{{ .RelPermalink }}" title="Read '{{ .Title }}'">{{ .Title }}</a></h2>
        {{ with .Description }}
            <p class='description'>{{ . }}</p>
        {{ end }}
    </section>
    {{ end }}
</section>
{{ end }}