{{ define "title" }}
    {{ .Title | markdownify }} {{ .Site.Params.tokenSeparator | markdownify }} {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
<article class='post page'>
    <header>
        <h1 class='title'>{{ .Title }}</h1>
        {{ with .Description }}
        <p class='description'>{{ . }}</p>
        {{ end }}
        <section class='metadata'>
            <time class="published" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format $dateFormat }}</time>
            {{ .Site.Params.tokenSeparator | markdownify }}
            {{ .WordCount }} Words
            {{ .Site.Params.tokenSeparator | markdownify }}
            {{ .ReadingTime }} minute read
            {{ .Site.Params.tokenSeparator | markdownify }}
            <nav class="taxonomy" aria-label="Post tags and categories">
                {{ if isset .Params "tags" }}
                    {{ .Render "tags" }}
                {{ end }}
    
                {{ if isset .Params "categories" }}
                    {{ .Render "categories" }}
                {{ end }}
            </nav>
        </section>
    </header>

    {{ .Content }}

    <footer>
        {{ .Render "related" }}
    </footer>
</article>
{{ end }}