:root {
    color-scheme: light dark;
    scrollbar-gutter: stable;
    --layout-border-top-width: #{map-get($layout, "border-top-width")};
    --font-size:               #{map-get($font, "size")};
    --font-size-large:         #{map-get($font, "size-large")};
    --font-size-small:         #{map-get($font, "size-small")};
    --font-line-height:        #{map-get($font, "line-height")};
    --font-family-serif:       #{$font-family-serif};
    --font-family-sans:        #{$font-family-sans};
    --font-family-heading:     #{$font-family-heading};
    --font-family-fixed:       #{$font-family-fixed};

    @each $role, $slot in $semantic {
        --#{$role}: #{palette-get($theme-scheme-light, $slot)};
    }
}

@each $name, $scheme in $schemes {
    .theme-#{$name} {
        @each $role, $slot in $semantic {
            --#{$role}: #{palette-get($name, $slot)};
        }
    }
}
