.vault-figure {
    @include surface;
    display: block;
    font-family: $font-family-sans;
    padding: 1rem;

    > .vault-image {
        width: 100%;
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    figcaption {
        font-size: $font-size-small;
        padding: .75rem 0 0 0;
        text-wrap: pretty;

        :last-child {
            margin-bottom: 0;
        }
    }
}

.vault-image {
    display: block;
    max-width: 100%;

    img {
        display: block;
        height: auto;
        width: 100%;
    }
}

img.vault-image {
    height: auto;
}

@include screen-lrg {
    .dual {
        .vault-figure {
            margin: 0;
            max-width: 100%;
        }
    }

    article > .vault-figure:not(.inset):not(.inset-left) {
        margin-inline: -1rem;
    }
}
