<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head/includes" . }}
</head>
<body>
    {{ partial "sprites" . }}
    <!-- <svg class="icon" width="24" height="24"><use xlink:href="#twitter"></use></svg> -->
    <div class="wrapper">
        <header id="site-header">
            <div class="content">
                <nav role="navigation" id="main-navigation">
                    <ul>
                        <li>
                            <a href="{{ "/" | relURL }}">
                                {{ .Site.Title | title }}
                            </a>
                        </li>
                        {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="content">
                {{ block "main" . }}
                {{ end }}
            </div>
        </main>
        <footer id="site-footer">
            <div class="content">
                <p class='copyright'>&copy; 2003 - 2018 Shaun Smith</p>
            </div>
        </footer>
    </div>
</body>
</html>
