<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head/includes" . }}
</head>
<body>
    {{ partial "sprites" . }}
    <!-- <svg class="icon" width="24" height="24"><use xlink:href="#twitter"></use></svg> -->
    <div class="wrapper-outer">
        <div class="wrapper">
            {{ partial "header.html" . }}
            <main>
                <div class="content">
                    {{ block "main" . }}
                    {{ end }}
                </div>
            </main>
        </div>
    </div>
    <footer id="site-footer">
        <div class="wrapper">
            <div class="content">
                {{ block "footer" . }}
                {{ end }}
                <p class='copyright'>&copy; {{ .Site.Params.copyright }}</p>
            </div>
        </div>
    </footer>
    {{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
