/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Serif'), url(/fonts/pt-serif-v17-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url(/fonts/pt-serif-v17-latin-regular.woff) format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('PT Serif'), url(/fonts/pt-serif-v17-latin-italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url(/fonts/pt-serif-v17-latin-italic.woff) format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('PT Serif'), url(/fonts/pt-serif-v17-latin-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url(/fonts/pt-serif-v17-latin-700.woff) format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-700italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('PT Serif'), url(/fonts/pt-serif-v17-latin-700italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url(/fonts/pt-serif-v17-latin-700italic.woff) format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-mono-regular - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Mono'), url(/fonts/fira-mono-v14-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url(/fonts/fira-mono-v14-latin-regular.woff) format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), url(/fonts/roboto-condensed-v25-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url(/fonts/roboto-condensed-v25-latin-regular.woff) format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  background-color: #eaeaea;
  font-size: 106.25%;
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 118.75%;
  }
}
body {
  background-color: #eaeaea;
  border-top: 1em solid #ff2e63;
  color: #252a34;
  font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  font-size: 1em;
  font-variant-ligatures: common-ligatures contextual;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 1.5rem 0 0.345rem 0;
}
p {
  margin-bottom: 1.5rem;
}
a:link,
a:visited {
  border-bottom: 0.15rem solid #ff2e63;
  color: #252a34;
  outline: none;
  text-decoration: none;
  transition: 0.2s;
}
a:hover:hover,
a:active:hover,
a:hover:active,
a:active:active {
  border-color: #08d9d6;
  color: #08d9d6;
}
a.goog:hover,
a.goog:active {
  border-color: #dd4b39;
  color: #dd4b39;
}
a.twit:hover,
a.twit:active {
  border-color: #00aced;
  color: #00aced;
}
a.gh:hover,
a.gh:active {
  border-color: #000000;
  color: #000000;
}
a.fb:hover,
a.fb:active {
  border-color: #3b5998;
  color: #3b5998;
}
a.stack:hover,
a.stack:active {
  border-color: #f48024;
  color: #f48024;
}
pre,
code,
kbd {
  font-family: "Fira Mono", "Droid Sans Mono", "Source Code Pro", consolas, monospace;
  font-size: 0.9rem;
}
kbd {
  font-style: italic;
}
pre {
  background-color: #252a34;
  margin: 1rem 0;
  overflow-x: scroll;
  padding: 2%;
}
pre > code {
  color: #d0d4a5;
  display: block;
}
svg {
  color: inherit;
  fill: currentColor;
}
img {
  display: block;
}
hr {
  border-bottom: 1px solid #3a4252;
  border-width: 0 0 0.1rem 0;
  margin: 1.5rem 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
sup,
sub {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5rem;
  left: 0.25rem;
}
sub {
  bottom: -0.5em;
}
main {
  padding: 1em 1em 2em;
  position: relative;
}
::-moz-selection {
  background: #ff2e63;
  color: #ffffff;
}
::selection {
  background: #ff2e63;
  color: #ffffff;
}
article > h1 {
  font-size: 2.3rem;
}
article > h2 {
  font-size: 1.85rem;
  line-height: 1.2;
}
article > h3 {
  font-size: 1.5rem;
}
article > h4 {
  font-style: italic;
  font-weight: 400;
}
article ol,
article ul {
  margin: 1.5rem 0 1.5rem 1rem;
  list-style: none;
}
article ol {
  counter-reset: start-from 0;
}
article ol li::before {
  counter-increment: start-from;
  content: counter(start-from) ".";
  margin-top: 0.05rem;
}
article ul li::before {
  content: "▪";
  font-weight: bold;
}
article li {
  position: relative;
}
article li > ul,
article li > ol {
  margin: 0 0 0 1.5rem;
}
article li::before {
  color: #ff2e63;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
  left: -5em;
  padding-right: 0.5em;
  position: absolute;
  text-align: right;
  width: 5em;
}
article blockquote {
  background-color: #dddddd;
  border-left: 0.1rem solid #08d9d6;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  padding: 1rem;
  margin-left: -1rem;
}
article blockquote p:last-of-type {
  margin-bottom: 0;
}
article figure {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  margin: 1.5rem 0;
}
article figure > * {
  display: block;
  background-color: #dddddd;
  padding: 1rem;
}
article figure img {
  width: 100%;
}
article figcaption {
  background-color: #dddddd;
  font-size: 0.75rem;
  margin-top: -1rem;
  padding: 0.5rem 1rem;
}
article figcaption :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  padding: 0.5rem;
  border-bottom: 1px solid #3a4252;
}
table th {
  font-weight: 600;
  text-align: left;
}
table.bordered td,
table.bordered th {
  border: 1px solid #3a4252;
}
header .description {
  margin: 0.5rem 0;
}
#home-welcome h1,
header h1 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
}
.content-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 1em);
}
.viewport {
  margin: 0 auto;
  padding: 1em;
  width: 95vw;
}
@media only screen and (min-width: 992px) {
  .viewport {
    max-width: 1200px;
    width: 65vw;
  }
}
.description {
  font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.5rem;
}
.metadata {
  color: #3a4252;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
}
.page > header {
  margin-bottom: 1rem;
}
.page > header > * + * {
  margin-top: 1rem;
}
.post :not(pre) > code {
  color: #922c4c;
}
.post footer {
  clear: both;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  margin-top: 1rem;
}
.post footer ul {
  margin: 0 0 0.5rem;
}
.post footer li::before {
  content: "";
}
.post footer .taxonomy {
  text-transform: uppercase;
}
.post footer .taxonomy li {
  display: inline;
  position: relative;
}
.post footer .taxonomy li::after {
  content: ",";
}
.post footer .taxonomy li:last-child::after {
  content: "";
}
.post footer .taxonomy li a {
  border-bottom: none;
}
.post footer .taxonomy li a:link,
.post footer .taxonomy li a:visited {
  color: #3a4252;
}
.post footer .taxonomy li a:hover,
.post footer .taxonomy li a:active {
  color: #ff2e63;
}
@media only screen and (min-width: 992px) {
  .browse {
    display: grid;
    grid-template-columns: 55% auto 40%;
  }
  .browse .taxonomy {
    grid-column: 3;
  }
  .dual {
    display: grid;
    grid-gap: 1rem;
    grid-auto-columns: 50fr 50fr;
    grid-auto-flow: column;
  }
  .dual figure {
    margin: 0;
    max-width: 100%;
  }
  figure.small {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 50%;
  }
  .dual,
  article > figure.normal,
  .highlight {
    width: 110%;
    margin-left: -5%;
  }
}
.teaser {
  border-color: #5a667e;
  border-style: solid;
  border-width: 0 0 1px;
  font-size: 1rem;
  padding: 0.5rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .teaser time {
    float: right;
  }
}
.teaser .title {
  margin: 0;
}
.teaser .description {
  margin: 0;
}
.teaser a {
  border-bottom: none;
}
.teaser time {
  font-size: 0.75rem;
}
.group {
  border-color: #252a34;
  border-style: solid;
  border-width: 0.125rem 0 0;
  margin-top: 2rem;
}
.group .group-title {
  color: #252a34;
  border-color: #252a34;
  border-style: solid;
  border-width: 0 0 0.1rem;
  margin: 0;
  padding: 0.325rem 0;
  text-transform: uppercase;
}
.group a {
  border-bottom: none;
}
.group a span {
  display: block;
}
.fl-list li {
  border-bottom: 1px solid #3a4252;
}
@media only screen and (min-width: 768px) {
  .fl-list li {
    float: left;
    width: 48%;
  }
  .fl-list li:nth-child(2n) {
    margin-left: 4%;
  }
}
.fl-list li > a {
  display: block;
  padding: 5px 5px 5px 0;
  position: relative;
  text-transform: uppercase;
}
.fl-list .count {
  position: absolute;
  right: 0;
  top: 0.3rem;
}
.fl-list::after {
  clear: both;
  content: "";
  display: table;
}
.copyright {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
}
.social a {
  border: none;
  margin-right: 0.25rem;
}
.icon {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}
.icon.large {
  height: 2rem;
  width: 2rem;
}
.icon.small {
  height: 0.75rem;
  width: 0.75rem;
}
.icon.left {
  float: left;
  margin-right: 0.25rem;
}
.icon.right {
  float: right;
  margin-left: 0.25rem;
}
.pagination {
  display: grid;
  grid-template-columns: 30% auto 30%;
  margin-top: 1.5rem;
}
.pagination .previous {
  grid-column: 1;
  text-align: left;
}
.pagination span {
  grid-column: 2;
  text-align: center;
}
.pagination .next {
  grid-column: 3;
  text-align: right;
}
#site-header {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
#site-header a {
  border-bottom: none;
}
#site-header li {
  display: inline;
  padding: 0 0.25rem;
}
@media only screen and (min-width: 768px) {
  #site-header li {
    padding: 0 0.5rem;
  }
}
#site-header .branding {
  float: left;
}
@media only screen and (min-width: 768px) {
  #site-header {
    text-align: right;
  }
}
#site-footer {
  background-color: #252a34;
  color: #9ea7ba;
}
#site-footer::before {
  background-color: #252a34;
  content: "";
  height: calc(100vh - 2em);
  left: 0;
  position: absolute;
  top: 2em;
  width: 100%;
  z-index: -1;
}
#site-footer a:link,
#site-footer a:visited {
  color: #3a4252;
}
#site-footer a:hover,
#site-footer a:active {
  color: #ff2e63;
}
#home-welcome p {
  margin: 1rem 0;
}


/*# sourceMappingURL=main.css.map*/