{{ define "main" }}
    <article>
        {{ .Content }}
    </article>

    <section class="browse metadata">
        <section class="archive group">
            <h1 class="group-title">Latest Posts</h1>
            {{ $postcount := (default 5 .Site.Params.latestposts) }}
            {{ $paginator := .Paginate (where .Data.Pages "Section" "blog") $postcount }}
            {{ range (first $postcount .Paginator.Pages) }}
            <section class='teaser'>
                <time class="published" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "January 2, 2006" }}</time>
                <h2 class='title'><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                {{ with .Description }}
                    <h3 class='description'>{{ . }}</h3>
                {{ end }}
            </section>
            {{ end }}
        </section>

        <nav class="taxonomy">
            <section class="by-tag group">
                <h1 class="group-title">Posts by Tag</h1>
                <ul class="fl-list">
                {{ range $key, $value := .Site.Taxonomies.tags }}
                    <li>
                        <a href="{{ "/tags/" | relLangURL }}{{ $key | urlize }}">
                            {{ $key }}
                            <span class='count'>{{ $value.Count }}</span>
                        </a>
                    </li>
                {{ end }}
                </ul>
            </section>

            <section class="by-category group">
                <h1 class="group-title">Posts by Category</h1>
                <ul class="fl-list">
                {{ range $key, $value := .Site.Taxonomies.categories }}
                    <li>
                        <a href="{{ "/categories/" | relLangURL }}{{ $key | urlize }}">
                            {{ $key }}
                            <span class='count'>{{ $value.Count }}</span>
                        </a>
                    </li>
                {{ end }}
                </ul>
            </section>
        </nav>
    </section>
{{ end }}
